<?xml version="1.0"?>
<!--  
*****************************************************************************************
*
*  Filename:			    quad.xacro
*  Created:				    22/12/2023
*  Last Modified:	    31/01/2024
*  Author:				    Archit Jain
*  
*****************************************************************************************
-->

<robot name="quad" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ****************** INCLUDE OTHER MACROS ***************************  -->
  <xacro:include filename="$(find quad_description)/models/quad/quad_gazebo.xacro" />
  <xacro:include filename="$(find quad_description)/models/quad/quad_macros.xacro" />
  <xacro:include filename="$(find quad_description)/models/quad/quad_ros2_control.xacro" />
  <!-- <xacro:include filename="$(find quad_description)/models/quad/quad_transmission.xacro" /> -->

  <!-- ****************** BASIC INERTIAL MACROS ***************************  -->
  <!-- Define intertial property macros  -->
  <xacro:macro name="box_inertia" params="m w h d *origin">
    <inertial>
      <xacro:insert_block name="origin"/>
      <mass value="${m}"/>
      <inertia  ixx="${(m/12) * (h*h + d*d)}" ixy="0.0" ixz="0.0" 
                iyy="${(m/12) * (w*w + d*d)}" iyz="0.0" 
                izz="${(m/12) * (w*w + h*h)}"/>
    </inertial>
  </xacro:macro>
  <xacro:macro name="cylinder_inertia" params="m r h">
    <inertial>
      <origin xyz="0 0 0" rpy="${pi/2} 0 0" />
      <mass value="${m}"/>
      <inertia ixx="${(m/12) * (3*r*r + h*h)}" ixy = "0" ixz = "0" iyy="${(m/12) * (3*r*r + h*h)}" iyz = "0" izz="${(m/2) * (r*r)}"/>
    </inertial>
  </xacro:macro>
  <xacro:macro name="sphere_inertia" params="m r">
    <inertial>
      <mass value="${m}"/>
      <inertia ixx="${(2/5) * m * (r*r)}" ixy="0.0" ixz="0.0" iyy="${(2/5) * m * (r*r)}" iyz="0.0" izz="${(2/5) * m * (r*r)}"/>
    </inertial>
  </xacro:macro>

  <!-- ****************** ROBOT CONSTANTS *******************************  -->
  <!-- Define the size of the robot's main chassis in meters -->
  <xacro:property name="base_width" value="0.550"/>
  <xacro:property name="base_length" value="0.325"/>
  <xacro:property name="base_height" value="0.025"/>
  <xacro:property name="base_mass" value="0.4"/>
  <xacro:property name="quad_height" value="1.0"/>
  <xacro:property name="joint_limit" value="2.09439510239"/>      <!-- 120 degree -->
  <xacro:property name="damping" value="0.5"/>
  <xacro:property name="friction" value="0.15"/>         <!-- ABS=0.35 -->

  <!-- ****************** ROBOT BASE FOOTPRINT ***************************  -->
  <!-- Define the center of the main robot chassis projected on the ground -->	
  <link name="base_footprint" />

  <xacro:fixed_joint 
    joint_name="base_joint" 
    parent_link="base_footprint" 
    child_link="base_link"
    pos_x="0" pos_y="0" pos_z="${quad_height}" 
    rot_x="1.571428571" rot_y="0.75" rot_z="0"/>      <!-- Originally set it to (90 0 0) -->

  <!-- ********************** ROBOT BASELINK *********************************  -->
  <xacro:base_link link_name="base_link"/>

  <!-- ********************** FRONT RIGHT LINKS *********************************  -->
  <xacro:fixed_joint 
    joint_name="hip_joint_fr" 
    parent_link="base_link" 
    child_link="hip_link_fr"
    pos_x="0.300" pos_y="-0.090" pos_z="0.165" 
    rot_x="0" rot_y="0" rot_z="0"/>

  <xacro:hip_link link_name="hip_link_fr"/>

  <xacro:revolute_joint 
    joint_name="thigh_joint_fr" 
    parent_link="hip_link_fr" 
    child_link="thigh_link_fr"
    axis_x="0" axis_y="0" axis_z="1"
    pos_x="0" pos_y="0" pos_z="0"
    rot_x="0" rot_y="0" rot_z="0"
    effort="25" joint_limit_l="-${joint_limit}" joint_limit_u="${joint_limit}" velocity="1.5"
    damping="${damping}" friction="${friction}" />

  <xacro:thigh_link link_name="thigh_link_fr"/>

  <xacro:revolute_joint 
    joint_name="leg_joint_fr" 
    parent_link="thigh_link_fr" 
    child_link="leg_link_fr"
    axis_x="0" axis_y="0" axis_z="1"
    pos_x="0" pos_y="-0.220" pos_z="0"
    rot_x="0" rot_y="0" rot_z="0"
    effort="25" joint_limit_l="-${joint_limit}" joint_limit_u="${joint_limit}" velocity="1.5"
    damping="${damping}" friction="${friction}" />

  <xacro:leg_link link_name="leg_link_fr"/>

  <!-- ********************** FRONT LEFT LINKS *********************************  -->
  <xacro:fixed_joint 
    joint_name="hip_joint_fl" 
    parent_link="base_link" 
    child_link="hip_link_fl"
    pos_x="0.300" pos_y="-0.090" pos_z="-0.165" 
    rot_x="0" rot_y="0" rot_z="0"/>

  <xacro:hip_link link_name="hip_link_fl"/>

  <xacro:revolute_joint 
    joint_name="thigh_joint_fl" 
    parent_link="hip_link_fl" 
    child_link="thigh_link_fl"
    axis_x="0" axis_y="0" axis_z="1"
    pos_x="0" pos_y="0" pos_z="0"
    rot_x="0" rot_y="0" rot_z="0"
    effort="25" joint_limit_l="-${joint_limit}" joint_limit_u="${joint_limit}" velocity="1.5"
    damping="${damping}" friction="${friction}" />

  <xacro:thigh_link link_name="thigh_link_fl"/>

  <xacro:revolute_joint 
    joint_name="leg_joint_fl" 
    parent_link="thigh_link_fl" 
    child_link="leg_link_fl"
    axis_x="0" axis_y="0" axis_z="1"
    pos_x="0" pos_y="-0.220" pos_z="0"
    rot_x="0" rot_y="0" rot_z="0"
    effort="25" joint_limit_l="-${joint_limit}" joint_limit_u="${joint_limit}" velocity="1.5"
    damping="${damping}" friction="${friction}" />

  <xacro:leg_link link_name="leg_link_fl"/>

  <!-- ********************** REAR RIGHT LINKS *********************************  -->
  <xacro:fixed_joint 
    joint_name="hip_joint_rr" 
    parent_link="base_link" 
    child_link="hip_link_rr"
    pos_x="-0.300" pos_y="-0.090" pos_z="0.165" 
    rot_x="0" rot_y="0" rot_z="0"/>

  <xacro:hip_link link_name="hip_link_rr"/>

  <xacro:revolute_joint 
    joint_name="thigh_joint_rr" 
    parent_link="hip_link_rr" 
    child_link="thigh_link_rr"
    axis_x="0" axis_y="0" axis_z="1"
    pos_x="0" pos_y="0" pos_z="0"
    rot_x="0" rot_y="0" rot_z="0"
    effort="25" joint_limit_l="-${joint_limit}" joint_limit_u="${joint_limit}" velocity="1.5"
    damping="${damping}" friction="${friction}" />

  <xacro:thigh_link link_name="thigh_link_rr"/>

  <xacro:revolute_joint 
    joint_name="leg_joint_rr" 
    parent_link="thigh_link_rr" 
    child_link="leg_link_rr"
    axis_x="0" axis_y="0" axis_z="1"
    pos_x="0" pos_y="-0.220" pos_z="0"
    rot_x="0" rot_y="0" rot_z="0"
    effort="25" joint_limit_l="-${joint_limit}" joint_limit_u="${joint_limit}" velocity="1.5"
    damping="${damping}" friction="${friction}" />

  <xacro:leg_link link_name="leg_link_rr"/>

  <!-- ********************** REAR LEFT LINKS *********************************  -->
  <xacro:fixed_joint 
    joint_name="hip_joint_rl" 
    parent_link="base_link" 
    child_link="hip_link_rl"
    pos_x="-0.300" pos_y="-0.090" pos_z="-0.165" 
    rot_x="0" rot_y="0" rot_z="0"/>

  <xacro:hip_link link_name="hip_link_rl"/>

  <xacro:revolute_joint 
    joint_name="thigh_joint_rl" 
    parent_link="hip_link_rl" 
    child_link="thigh_link_rl"
    axis_x="0" axis_y="0" axis_z="1"
    pos_x="0" pos_y="0" pos_z="0"
    rot_x="0" rot_y="0" rot_z="0"
    effort="25" joint_limit_l="-${joint_limit}" joint_limit_u="${joint_limit}" velocity="1.5"
    damping="${damping}" friction="${friction}" />

  <xacro:thigh_link link_name="thigh_link_rl"/>

  <xacro:revolute_joint 
    joint_name="leg_joint_rl" 
    parent_link="thigh_link_rl" 
    child_link="leg_link_rl"
    axis_x="0" axis_y="0" axis_z="1"
    pos_x="0" pos_y="-0.220" pos_z="0"
    rot_x="0" rot_y="0" rot_z="0"
    effort="25" joint_limit_l="-${joint_limit}" joint_limit_u="${joint_limit}" velocity="1.5"
    damping="${damping}" friction="${friction}" />

  <xacro:leg_link link_name="leg_link_rl"/>

</robot>
