<?xml version="1.0"?>
<!-- 
*****************************************************************************************
*
*  Filename:			    quad_gazebo.xacro
*  Created:				    22/12/2023
*  Last Modified:	    29/01/2024
*  Author:				    Archit Jain
*  
*****************************************************************************************
-->

<robot name="quad" 
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="joint_limit" value="2.00712863979"/>    <!-- 115 degree -->

  <gazebo reference="base_link">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="base_footprint">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="hip_link_fr">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="thigh_link_fr">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="leg_link_fr">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="hip_link_fl">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="thigh_link_fl">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="leg_link_fl">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(find quad_description)/config/quad_controllers.yaml</parameters>
    </plugin>
  </gazebo>

  <gazebo reference="thigh_link_fr">
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>1</mu>
            <mu2>100</mu2>
            <slip1>100.1</slip1>
            <slip2>100.1</slip2>
          </ode>
        </friction>
        <contact>
          <ode>
            <kp>1000000.0</kp>
            <kd>100.0</kd>
            <min_depth>0.001</min_depth>
          </ode>
        </contact>
      </surface>
    </collision>
  </gazebo>

  <gazebo reference="leg_link_fr">
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>1</mu>
            <mu2>100</mu2>
            <slip1>100.1</slip1>
            <slip2>100.1</slip2>
          </ode>
        </friction>
        <contact>
          <ode>
            <kp>1000000.0</kp>
            <kd>100.0</kd>
            <min_depth>0.001</min_depth>
          </ode>
        </contact>
      </surface>
    </collision>
  </gazebo>

  <gazebo reference="thigh_link_fl">
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>1</mu>
            <mu2>100</mu2>
            <slip1>100.1</slip1>
            <slip2>100.1</slip2>
          </ode>
        </friction>
        <contact>
          <ode>
            <kp>1000000.0</kp>
            <kd>100.0</kd>
            <min_depth>0.001</min_depth>
          </ode>
        </contact>
      </surface>
    </collision>
  </gazebo>

  <gazebo reference="leg_link_fl">
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>1</mu>
            <mu2>100</mu2>
            <slip1>100.1</slip1>
            <slip2>100.1</slip2>
          </ode>
        </friction>
        <contact>
          <ode>
            <kp>1000000.0</kp>
            <kd>100.0</kd>
            <min_depth>0.001</min_depth>
          </ode>
        </contact>
      </surface>
    </collision>
  </gazebo>

</robot>
