<?xml version="1.0"?>
<!-- 
*****************************************************************************************
*
*  Filename:			    quad_gazebo.xacro
*  Created:				    22/12/2023
*  Last Modified:	    29/01/2024
*  Author:				    Archit Jain
*  
*****************************************************************************************
-->

<robot name="quad" 
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="joint_limit" value="2.09439510239"/>      <!-- 120 degree -->

  <gazebo reference="base_link">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="base_footprint">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="hip_link_fr">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="thigh_link_fr">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="leg_link_fr">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="hip_link_fl">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="thigh_link_fl">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="leg_link_fl">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="hip_link_rr">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="thigh_link_rr">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="leg_link_rr">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="hip_link_rl">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="thigh_link_rl">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="leg_link_rl">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(find quad_description)/config/quad_controllers.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
